# Локальная база и сессия (персональные данные)
gophkeepston.db
session.enc

# Бинарники
gophkeeper
tui
server
*.exe
*.exetui
coverage.out

server
tui
gophkeeper
*.exe
coverage.out
gophkeepston.db
session.enc
certs/*.key
certs/*.crt