# Локальная база и сессия (персональные данные)
gophkeepston.db
session.enc
*.db


# Бинарники
gophkeeper
tui
server
*.exe
*.exetui
coverage.out

server
tui
gophkeeper
*.exe
coverage.out
gophkeepston.db
session.enc
certs/*.key
certs/*.crtserver
certs/
tui
gophkeeper
tui
coverage.out
*.db
certs/*.key
certs/*.crt
tui
coverage.out
*.db
certs/*.key
certs/*.crt
